.loading-overlay {
    height: 300px;
}

.ui.sortable.inverted.table thead th {
    color: rgba(255,255,255,.9);
    background-color: rgb(10, 10, 10);
}

.ui.celled.table tr td, .ui.celled.table tr th {
    text-align: center;
}

.hidden-sortable {
    display: none;
}

.Authors_header {
    display: none
}

.authors {
    display: none
}

body {
    background: linear-gradient(rgba(49, 113, 165, 0.37) 0%, #D2D2D2 100%) fixed;
}

.page_header {
    text-align: center;
}